# claves del endpoint de Azure
AZURE_OPENAI_API_KEY=your_openai_key
AZURE_OPENAI_ENDPOINT=your_openai_endpoint
# model metadata
DEPLOYMENT_NAME=your_deployment_name
MODEL_NAME='your_model_name'
OPENAI_API_VERSION='2024-02-15-preview'
# credenciales AWS 
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
# External APIs (Para obtener las claves revise el readme principal)
SERPAPI_API_KEY=your_serpapi_key
MAPS_API_KEY=your_maps_key


# Para base de datos
EMBEDDINGS_MODEL=nombre_del_modelo_de_embeddings
# Azure blob storage
AZURE_STORAGE_ACCOUNT_NAME=nombre_del_servicio_de_almacenamiento
AZURE_STORAGE_ACCOUNT_KEY=llave_de_acceso
BLOB_NAME=nombre_del_blob
AZURE_CONTAINER_NAME=nombre_del_contenedor
# Para descargar archivos
DOWNLOAD_DIR=carpeta_de_descarga

# Para QDRANT
QDRANT_HOST=host_de_qdrant
QDRANT_PORT=port_de_qdrant
QDRANT_COLLECTION_NAME=nombre_de_la_coleccion